:root {
	--blue-color: hsl(202, 65%, 54%);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
/* Header */
.tablet {
	display: none;
}
.picture-text-wrapper {
	display: contents;
}
h1,
h2,
h6 {
	font-family: 'Playfair Display', sans-serif;
}

.gradient-background {
	background: linear-gradient(170deg, var(--blue-color) 75%, hsl(0, 0%, 100%) 25%);
	display: flex;
	justify-content: center;
}

.picture-container {
	padding: 20px;
	display: block;
	position: relative;
	width: clamp(250px, 100%, 500px);
}
.picture-container picture {
	display: block;
	width: 100%;
}
.picture-container picture img {
	box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.589);
	display: block;
	width: 100%;
}
.picture-container h1 {
	color: white;
	position: absolute;
	bottom: 25px;
	left: 35px;
	font-size: clamp(4rem, 18vw, 5.5rem);
	text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.589);
}
h2 {
	text-align: center;
	font-size: 3rem;
	font-weight: normal;
}
.text-container p {
	color: hsl(0, 0%, 38%);
	padding: clamp(10px, 5vw, 50px);
	font-size: 1.25rem;
}
.header-links {
	display: flex;
	justify-content: center;
	padding: clamp(10px, 3vw, 30px) 0;
}
.header-links a {
	margin: 0 clamp(10px, 3vw, 20px);
}
.header-links img {
	width: clamp(40px, 8vw, 50px);
}

/* My works */

/* I am using media quieries to change the repeat count.  I want 1 column on mobile, 2 on tablets, and 3 on PCs.  I do believe there is a better way to do this
So I might return to this later. */
.projects-wrapper {
	--repeat-count: 1;
	display: grid;
	grid-template-columns: repeat(var(--repeat-count), 1fr);
	gap: 10%;
	padding: 5%;
	align-items: center;
	/* This margin is a bandaid fix for overflow issues.  Once again maybe return to this later */
	margin: clamp(0px, 35%, 200px) auto;
	max-width: 500px;
}
.project {
	box-shadow: 5px 3px 15px rgba(0, 0, 0, 0.26);
	min-height: 0;
}
.project > img {
	width: 100%;
}
.links-name-wrapper {
	display: flex;
	justify-content: space-between;
}
.links-name-wrapper h3 {
	width: 70%;
	text-align: center;
	font-size: clamp(1.5rem, 6vw, 1.75rem);

	font-weight: normal;
	padding: 2.5% 0;
}

.title-links {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 30%;
}
.title-links a {
	padding: 0 5px;
}
.title-links img {
	width: 85%;
	height: auto;
	max-width: 40px;
}

.desc {
	font-size: 1rem;
	font-size: clamp(1rem, 3vw, 1.3rem);
	color: hsl(0, 0%, 38%);
	padding: 5%;
	padding-bottom: 15%;
}

/* Footer Section */

footer {
	background-color: var(--blue-color);
}
.footer-text {
	padding: 2% 5%;
}
footer h2,
footer p,
footer address {
	color: white;
}

footer p {
	font-size: clamp(1.25rem, 3.9vw, 1.8rem);
	padding: min(80px, 7%) 0%;
}
footer address {
	font-size: clamp(1.1rem, 3.2vw, 1.5rem);
	font-style: normal;
}
address img {
	display: none;
}

.footer-links {
	display: flex;
	justify-content: center;
	padding: min(30px, 10%);
}
.footer-links a {
	padding: 0 5%;
}
.footer-links img {
	width: 50px;
	height: auto;
}

footer picture {
	width: 100%;
	display: block;
}
footer picture img {
	display: block;
	min-width: 100%;
	height: auto;
}

@media (min-width: 769px) {
	/* header section */
	.picture-text-wrapper {
		display: block;
		width: 700px;
		height: auto;
		background-color: white;
		box-shadow: 5px 3px 15px rgba(0, 0, 0, 0.26);
		margin-top: 100px;
		position: relative;
	}
	.empty-space {
		width: 350px;
		height: 350px;
		float: left;
	}
	.picture-container {
		position: absolute;
		width: 350px;
		float: left;
		padding: 0;
		left: -4%;
		top: -16%;
	}
	.picture-container h1 {
		top: 0;
		left: 85%;
		white-space: nowrap;
		font-size: 3.5rem;
	}
	.text-container {
		display: block;
		position: relative;
		padding-bottom: 60px;
		margin-top: 40px;
	}

	.text-container p {
		padding-right: 15px;
	}
	.text-container .header-links {
		position: absolute;
		bottom: 0;
		right: 0;
	}
	.text-container .header-links img {
		width: 35px;
	}
	.mobile {
		display: none;
	}

	/* Projects section */
	main {
		padding: 0 clamp(5%, 9vw, 9%);
	}
	main h2 {
		text-align: left;
		padding-top: 5%;
	}
	.projects-wrapper {
		--repeat-count: 2;
		margin: 2.5% auto 10%;
		padding: 5% 0;
		max-width: none;
	}
	.project {
		max-width: 450px;
	}

	/* Footer */
	address span {
		display: inline-flex;
		align-items: center;
		gap: 6px;
	}
	address img {
		display: inline-block;
		width: 25px;
	}
	footer {
		display: flex;
		padding: 2.5%;
	}
	.footer-text {
		max-width: 50%;
	}
	footer address {
		font-size: clamp(1.1rem, 2.4vw, 1.8rem);
	}
	.footer-picture-container {
		width: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	footer picture {
		height: initial;
		max-width: clamp(350px, 33vw, 400px);
	}
	footer picture img {
		width: 250px;
		height: auto;
	}
}

@media (min-width: 1278px) {
	/* Header Section */
	h2 {
		text-align: left;
	}
	.gradient-background {
		padding: 5% 0 8%;
	}
	.picture-text-wrapper {
		display: flex;
		align-items: center;
		width: auto;
		background: none;
		box-shadow: none;
		margin: 0;
	}
	.picture-container {
		position: relative;
		top: 0;
		left: 0;
		width: clamp(600px, 40vw, 700px);
	}
	.picture-container h1 {
		bottom: 0%;
		top: initial;
		font-size: clamp(5.5rem, 6vw, 6.25rem);
		left: 40px;
	}
	.text-container {
		width: clamp(600px, 40vw, 1000px);
		height: 500px;
		background-color: white;
		box-shadow: 5px 3px 15px rgba(0, 0, 0, 0.26);
		margin: 0;
	}
	.text-container h2 {
		padding: 25px 50px 0;
	}
	.text-container p {
		padding-top: 25px;
		font-size: 1.5rem;
	}
	.empty-space {
		display: none;
	}
	/* Main Section */
	.projects-wrapper {
		--repeat-count: 3;
		margin: 0;
	}
	/* Footer Section */
	.footer-text {
		width: 40%;
	}
	.footer-links {
		justify-content: start;
		padding-left: 0;
	}
	footer span {
		gap: 20px;
	}
	footer span img {
		width: 35px;
	}
	footer a:first-of-type {
		padding-left: 0;
	}
	.footer-picture-container {
		width: 60%;
		padding-left: 5%;
	}
	.footer-picture-container picture {
		max-width: none;
		width: clamp(580px, 46vw, 850px);
	}
}
